@font-face {
    font-family: 'impact';
    src: url(../fonts/impact.ttf);
}

@font-face {
    font-family: 'ArialBold';
    src: url(../fonts/ArialBold.ttf);
}

@font-face {
    font-family: 'ArialRegular';
    src: url(../fonts/ArialRegular.ttf);
}